TOKEN=(your bot token)
PREFIX=(The bot's prefix)
EMBED_COLOR=(decimal color)
LOGS_CHANNEL_ID=(Channel ID for logs)

ONLY_IMAGES=True/False (reward for each image in the message)
DEFAULT_POINTS=(Points to award per post)
CHANNEL_IDS=(channel ids seperated with a comma if needed)

TWITTER_STATE=True/False (Enable rewards for twitter posts that have your twitter handle in the tweet) (The settings below this rely on if this is TRUE)
TWITTER_CHANNEL_ID=(Channel ID for twitter posts/This is where members post tweet links)
TWITTER_POINTS=(Amount of points to reward per twitter post)
TWITTER_HANDLE=(Your twitter @handle)