# Required: Your Discord Bot's Token
TOKEN=

# Required: Your Discord Bot's Prefix
PREFIX=

# Required: The color of the send embeds (IN DECIMAL FORM)
EMBED_COLOR=

# Required: Channel ID for logs
LOGS_CHANNEL_ID=

# Optional: User IDs of users you want to override all admin checks (Seperate by COMMAS if needed)
OVERRIDE_ADMIN_IDS=

# Optional(Default: False): TRUE or FALSE | True makes it so that members are only rewarded for each ATTACHMENT in their message (If there is none they do not get rewarded)
ONLY_IMAGES=

# Required: A number representing a single reward (point) to a member
DEFAULT_POINTS=

# Required: Channel IDs where rewarding is enables (Seperate by COMMAS if needed)
CHANNEL_IDS=


## Twitter Category ## (The settings in this category rely on if TWITTER_STATE is TRUE)

# Optional(Default: False): True/False | Enable rewards for twitter posts that have your twitter handle in the tweet
TWITTER_STATE=True/False

# Optional(Required if TWITTER_STATE is TRUE): Channel IDs for twitter posts | This is where members post tweet links (Seperate by COMMAS if needed)
TWITTER_CHANNEL_IDS=

# Optional(Required if TWITTER_STATE is TRUE): Your Twitter @Handle
TWITTER_HANDLE=

# Optional(Required if TWITTER_STATE is TRUE): A number representing a single reward (point) to a member for each tweet link that has your handle mentioned
TWITTER_POINTS=